In [1]:
import pandas as pd

df = pd.read_csv("patient.csv")

In [2]:
df

,Patient_ID,Test_Time_Sec,Test_Date,Blood_Pressure,Max_Blood_Pressure,Weight_kg
0,11,272,2023-12-29,81.0,108.0,54.356465
1,12,147,2023-12-28,110.0,109.0,51.010920
2,12,217,2023-12-27,NaN,NaN,91.630992
3,13,292,2023-12-26,96.0,NaN,NaN
4,14,423,2023-12-25,NaN,93.0,NaN
5,15,351,2023-12-24,84.0,87.0,98.930917
6,16,295,2023-12-23,NaN,NaN,NaN
7,17,459,2023-12-22,72.0,95.0,73.073968
8,18,109,2023-12-21,118.0,190.0,89.026459
9,19,311,2023-12-20,61.0,78.0,55.913721